#connection {
    /* se met à droite */
    position: relative;
    float: right;
    
    /* taille de la bordure*/
    border: 1px solid #000;
    
    /* arrondi des coins*/
    border-radius: 5px;
    
    /*marge*/
    padding: 0,5%;
    margin: 0,5%;

    /*dimension*/
    width: 30%;
    height: 10%;
}